@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,700;1,400&family=Lexend+Deca&family=Overpass&family=Roboto:wght@400;700&family=Rubik:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body, a, form {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
    font-size: 13px;
}

h1, h2, h3 {
    font-weight: 400;
}

hr.vertical {
    min-width: 1px;
    background-color: rgba(128, 128, 128, 0.29);
    border: none;
}

hr.horizontal {
    min-height: 1px;
    background-color: rgba(128, 128, 128, 0.29);
    border: none;
}

.discuss {

    display: flex;
    padding: 10px;
    flex-grow: 5;
}

.mg {
    margin: 7px 0 0 0;
}

.left {

    display: flex;
    flex-flow: column;
    align-items: end;
    margin-right: 15px;
    min-width: 100px;

}

.right {

    display: flex;
    flex-flow: column;
    flex-grow: 7;
    justify-content: start;
    max-width: 620px;

}

.title {
    margin-right: 15px;
    font-size: 17px;
}

.below-title {
    display: flex;
    justify-content: space-between;
}

.whole-page {
    display: flex;
    justify-content: center;
    min-height: 100%;
}

.navbar {
    display: flex;
    flex-flow: column;
    margin-top: 22px;
}

.button {
    background-color: #1b75cf;
    border-radius: 7px;
    color: white;
    border: none;
    align-items: center;
    display: flex;
    padding: 10px;
    height: 20px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.flex-container {

    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.tags a {
    background: hsl(210, 73%, 96%);
    color: #155ca2;
    height: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    border: none;
}

.tag-for-watched-tags {
    display: flex;
    background: hsl(210, 73%, 96%);
    color: #155ca2;

    gap: 5px;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    border: none;
}

.delete-x {
    border-radius: 100%;
    height: 14px;
    width: 14px;
    color: #fff8f8;
    justify-content: center;
    align-items: center;

    background-color: rgba(100, 107, 116, 0.29);
}


.delete-x:hover {
    background-color: #b70303;
}

.tag-for-watched-tags:hover {
    color: hsl(205, 46%, 32%, 1);
    background-color: hsl(205, 53%, 88%, 1);
    cursor: pointer;
}

.tags a:hover {
    color: hsl(205, 46%, 32%, 1);
    background-color: hsl(205, 53%, 88%, 1);
    cursor: pointer;
}

.buttons a {

    border: none;
    padding: 10px;
    background: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    color: black;
}

.buttons {
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 7px;

}

hr {
    padding: 0;
    margin: 0;
}

.filter {
    margin: 0 0 0 10px;
    border: 1px solid hsl(210, 77%, 46%);
    background-color: white;
    border-radius: 7px;
    color: hsl(210, 77%, 46%);
    display: flex;
    align-items: center;
}

.buttons a:hover {
    background-color: rgba(185, 180, 180, 0.1);
    cursor: pointer;
}

.filter:hover {
    background: hsla(204, 50%, 43%, 0.32);
}

.filter_text {
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.59);
    display: flex;
    align-items: center;
}

.tag-outer-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border: 1px solid rgba(128, 128, 128, 0.27);
    border-radius: 5px;
    padding: 20px 10px 10px 10px;
    margin: 0 10px 10px 0;
}

.whole-tag-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);

}

a.navbar {
    font-size: 13px;
}

.qtu {
    display: flex;
    flex-flow: column;

}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

.orange-column {
    width: 3px;
    height: 30px;
    background-color: #e67b23;
}

.whole-user-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    margin-top: 10px;
}

.user {
    display: flex;
    margin: 15px;

}

.upper-navbar {

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 52px;
}

.stack-logo:hover {
    background-color: rgba(99, 107, 116, 0.18);
}

.stack-logo {
    height: 52px;
    display: flex;
    align-items: center;
    padding-left: 10px;

}

.profile:hover {
    background-color: rgba(99, 107, 116, 0.18);
}

.about-us:hover {
    background-color: rgba(99, 107, 116, 0.18);
}

.account:hover {
    background-color: rgba(99, 107, 116, 0.18);
}

.profile {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.account {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 363px;
    right: 0;
}

.dropdown-content div {
    padding: 9px 16px;
    font-size: 11px;
}

.account-management {
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    background-color: hsl(210, 80%, 91%);
}

.btn-register {
    background: #1b75cf;
    margin-left: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 7px
}

.btn-register:hover {
    background-color: #195b9f;
}

.form-column {
    display: flex;
    flex-flow: column;
    gap: 5px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;

    box-shadow: 0 0 25px rgba(128, 128, 128, 0.44);
}

.form-column label {
    font-weight: bold;
    font-size: 15px;
}

.form-container {
    width: 316px;
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.left-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.about {
    margin-left: 10px;
    color: #636b74;
    padding: 8px;
}

.about:hover {
    background-color: rgba(100, 107, 116, 0.22);
    border-radius: 13px;
}

.input-text-login-register {
    padding: 8px;
    border: 1px solid rgba(99, 107, 116, 0.47);
    border-radius: 5px;
    margin-bottom: 10px;
}

.img-div {
    display: flex;
    gap: 5px;
    font-size: 15px;
}

.g-recaptcha {

    border-radius: 4px;
    border-right: 1px solid #d8d8d8;
    overflow: hidden;
}

.flex-right-container {
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.box {
    display: flex;
    flex-flow: column;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.33);
    max-width: 300px;
}

.special-button {
    width: 50px;
    border-radius: 0 7px 7px 0;
    background-color: #1b75cf;
    border: none;
    color: white;
}

.special-input {
    border: 1px solid rgba(128, 128, 128, 0.42);
    border-radius: 7px 0 0 7px;
    padding: 10px;
    outline-color: #1b75cf;
    outline-width: thin;
}

.special-input:focus {
    box-shadow: 0 0 1rem rgba(27, 117, 207, 0.5);
}

.left-nav {
    display: none;
    max-width: 170px;
    min-width: 170px;
}

@media (min-width: 650px) {

    .whole-tag-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .whole-user-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 980px) {
    .left-nav {
        display: block;
    }

    .whole-tag-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .whole-user-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1260px) {
    .left-nav {
        display: block;
    }

    .whole-tag-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .whole-user-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

}