{% load static %}
<hr class="horizontal" style="background: #e67b23;height: 3px">

<div class="upper-navbar">

    <div>
        <a class="stack-logo" href="{% url 'home' %}"><img style="width:150px;"
                                                           src="{% static '/images/logo-stackoverflow.png' %}"></a>
    </div>

    {% if user.is_authenticated %}
    <div style="width: 100px"></div>
    {% else %}
    <a class="about"> About</a>
    {% endif %}

    <div style="flex-grow: 5;margin: 0 10px;max-width: 780px;">
        <form method="GET">
            {% csrf_token %}
            <div style="height: 30px" class="filter_text">
                <img style="margin: 0 5px" alt="search" src="{% static 'images/search.png' %}"/>
                <input style="
                    padding: 7px 0;
                    border:none;
                    outline: none;
                    flex-grow: 1;
                    border-radius: 5px" type="text" name="q" placeholder="Search..."/>
            </div>
        </form>
    </div>

    {% if user.is_authenticated %}

    <!--if account is logged in-->

    <div class="profile">

        <div style="width: 25px;height: 25px;background: black;border-radius: 3px;margin: 18px 5px 10px 15px"></div>

        <div style="margin-right: 10px;color: #636b74">
            {% if user.myuser.quantity is not None%}
            <div>{{ user.myuser.quantity }}</div>
            {% else %}
            <div>0</div>
            {% endif %}

        </div>
    </div>


    <div class="about-us">
        <img alt="" style="width: 25px;height: 25px;margin: 14px;cursor: pointer;" src="{% static 'images/help.png' %}">
    </div>

    <div class="account">
        <img alt="" style="width: 25px;height: 25px;margin: 14px;cursor: pointer;"
             src="{% static 'images/comment.png' %}">

        <div class="dropdown-content">
            <div style="background: rgba(99,107,116,0.04);color: #155ca2;font-weight: bold">CURRENT COMMUNITY</div>

            <div class="account-management">
                <div style="display:flex;">
                    <img style="height:20px;width: 20px;margin-right: 3px"
                         src="{% static 'images/mini-logo.png' %}">
                    <div style="padding: 0;font-size: 13px ">Stack Overflow</div>
                </div>

                <div style="display:flex;">
                    <a href="{% url 'logout' %}">log out</a>
                </div>
            </div>

            <div style="background: rgba(99,107,116,0.04);color: #155ca2;font-weight: bold">YOUR COMMUNITIES</div>

            <div style="background: white;padding: 0" class="account-management">
                <div style="display:flex;">
                    <img style="height:20px;width: 20px;margin-right: 3px"
                         src="{% static 'images/mini-logo.png' %}">
                    <div style="padding: 0;font-size: 13px ">Stack Overflow</div>
                </div>

                <div style="display:flex;">
                    {% if user.myuser.quantity is not None%}
                    <div>{{user.myuser.quantity}}</div>
                    {% else %}
                    <div>0</div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>


    {% else %}

    <div style="display:flex;">

        <button style="padding: 8px 12px;margin: 0" class="filter">
            <a href="{% url 'login' %}">Log in</a>
        </button>

        <button class="btn-register">
            <a style="text-decoration: none;color: white" href="{% url 'register' %}">Sign up</a>
        </button>
    </div>

    {% endif %}


</div>
<hr class="horizontal">
<script src="{% static 'js/dropdown.js' %}"></script>