{% include 'head.html' %}


<div>
    {% include 'upperNavbar.html' %}
</div>

<div class="whole-page">

    <div style="flex-grow: 2;max-width: 170px;min-width: 170px">
        {% include 'navbar.html' %}
    </div>

    <hr class="vertical">

    <div style="flex-grow: 5;max-width: 751px;margin: 20px">

        <h1>{{ specified_discuss.title }}</h1><br>
        <div style="display: flex;gap: 10px">
            <div>Asked {{ specified_discuss.created|timesince}}</div>
            <div>Modified {{specified_discuss.updated|timesince}}</div>
            <div>Viewed {{ specified_discuss.views.count}} times</div>
        </div>
        <br>
        <hr class="horizontal">
        <br>
        <div>{{ specified_discuss.body }}</div>
        <br>

        <div class="tags">
            {% for tag in specified_discuss.topics.all %}

            <a> {{ tag|lower }}</a>

            {% endfor %}
        </div>

    </div>

    <div style="flex-grow: 3"></div>

</div>