{% load static %}

<div style="flex-grow:1;max-width:1100px;color:hsl(210,9%,75%);display: flex;padding: 20px 25px 30px 5px;gap: 35px">

    <img style="height: 55px;width: 55px" alt="logo" src="{% static 'images/mini-logo.png' %}">

    <div style="display: flex;gap: 70px;flex-grow: 1;max-width: 700px">

        <div style="display: flex;flex-flow: column;gap: 7px">
            <div style="color: #c8ccd0;font-weight: 700;margin-bottom: 10px">STACK OVERFLOW</div>
            <a href="{% url 'questions' %}" class="for-hover">Questions</a>
            <div class="for-hover">Help</div>
        </div>

        <div style="display: flex;flex-flow: column;gap: 7px">
            <div style="color: #c8ccd0;font-weight: 700;margin-bottom: 10px">PRODUCTS</div>
            <div class="for-hover">Teams</div>
            <div class="for-hover">Advertising</div>
            <div class="for-hover">Collectives</div>
            <div class="for-hover">Talent</div>
        </div>

        <div style="display: flex;flex-flow: column;gap: 7px">
            <div style="color: #c8ccd0;font-weight: 700;margin-bottom: 10px">COMPANY</div>
            <div class="for-hover">About</div>
            <div class="for-hover">Press</div>
            <div class="for-hover">Work Here</div>
            <div class="for-hover">Legal</div>
            <div class="for-hover">Privacy Policy</div>
            <div class="for-hover">Terms Of Service</div>
            <div class="for-hover">Contact Us</div>
            <div class="for-hover">Cookie Settings</div>
            <div class="for-hover">Cookie Policy</div>
        </div>

        <div style="display: flex;flex-flow: column;gap: 7px">
            <div style="color: #c8ccd0;font-weight: 700;margin-bottom: 10px">STACK EXCHANGE NETWORK
            </div>
            <div class="for-hover">Technology</div>
            <div class="for-hover">Culture & recreation</div>
            <div class="for-hover">Life & arts</div>
            <div class="for-hover">Science</div>
            <div class="for-hover">Professional</div>
            <div class="for-hover">Business</div>
            <br>
            <div class="for-hover">API</div>
            <div class="for-hover">Data</div>
        </div>

    </div>

    <div style="align-items: center;flex-grow: 1;display: flex;flex-flow: column;justify-content: space-between;font-size: 11px;max-width: 325px;">

        <div style="display:flex;gap: 6px">
            <div class="for-hover">Blog</div>
            <div class="for-hover">Facebook</div>
            <a target="_blank" style="font-size: 11px" href="https://twitter.com/omerbsahin"
               class="for-hover">Twitter</a>
            <a target="_blank" style="font-size: 11px"
               href="https://www.linkedin.com/in/%C3%B6mer-bircan-%C5%9Fahin-2a0896240/"
               class="for-hover">Linkedin</a>
            <a target="_blank" style="font-size: 11px" href="https://www.instagram.com/omerbsahin/" class="for-hover">Instagram</a>
        </div>

        <div style="max-width: 250px">Site design / logo © 2024 Stack Exchange Inc; user contributions licensed under CC
            BY-SA. rev
            2023.12.15.2752
        </div>
    </div>

</div>