{% load static %}

<div style="flex-grow:1;max-width:1100px;color:hsl(210,9%,75%);display: flex;padding: 20px 25px 30px 5px;gap: 35px">

    <img style="height: 55px;width: 55px" alt="logo" src="{% static 'images/mini-logo.png' %}">

    <div style="display: flex;gap: 70px;flex-grow: 1;max-width: 700px">

        <div style="display: flex;flex-flow: column;gap: 7px">
            <div style="color: #c8ccd0;font-weight: 700;margin-bottom: 10px">STACK OVERFLOW</div>
            <div>Questions</div>
            <div>Help</div>
        </div>

        <div style="display: flex;flex-flow: column;gap: 7px">
            <div style="color: #c8ccd0;font-weight: 700;margin-bottom: 10px">PRODUCTS</div>
            <div>Teams</div>
            <div>Advertising</div>
            <div>Collectives</div>
            <div>Talent</div>
        </div>

        <div style="display: flex;flex-flow: column;gap: 7px">
            <div style="color: #c8ccd0;font-weight: 700;margin-bottom: 10px">COMPANY</div>
            <div>About</div>
            <div>Press</div>
            <div>Work Here</div>
            <div>Legal</div>
            <div>Privacy Policy</div>
            <div>Terms Of Service</div>
            <div>Contact Us</div>
            <div>Cookie Settings</div>
            <div>Cookie Policy</div>
        </div>

        <div style="display: flex;flex-flow: column;gap: 7px">
            <div style="color: #c8ccd0;font-weight: 700;margin-bottom: 10px">STACK EXCHANGE NETWORK</div>
            <div>Technology</div>
            <div>Culture & recreation</div>
            <div>Life & arts</div>
            <div>Science</div>
            <div>Professional</div>
            <div>Business</div>
            <br>
            <div>API</div>
            <div>Data</div>
        </div>

    </div>

    <div style="align-items: center;flex-grow: 1;display: flex;flex-flow: column;justify-content: space-between;font-size: 11px;max-width: 325px;">

        <div style="display:flex;gap: 6px">
            <div>Blog</div>
            <div>Facebook</div>
            <div>Twitter</div>
            <div>Linkedin</div>
            <div>Instagram</div>
        </div>

        <div style="max-width: 250px">Site design / logo © 2024 Stack Exchange Inc; user contributions licensed under CC BY-SA. rev
            2023.12.15.2752
        </div>
    </div>

</div>