{% include 'head.html' %}


<div>
    {% include 'upperNavbar.html' %}
</div>

<div class="whole-page">

    <div class="left-nav">{% include 'navbar.html' %}</div>
    <hr class="vertical">

    <div style="flex-grow: 5;max-width: 751px;min-width: 500px"> <!--middle page-->

        <div>{% include 'base/middle_page.html' %}</div>

        <div>{% include 'base/discuss.html' %}</div>

    </div>


    <div style="flex-grow: 3;max-width: 340px;min-width: 340px;margin-top: 153px;margin-left: 30px">
        {% if user.is_authenticated %}{% include 'base/right-side-of-page.html' %} {% endif %}
    </div>


</div>




