{% include 'head.html' %}
{% load static %}

<div>
    {% include 'upperNavbar.html' %}
</div>

<div style="align-items: center;background-color:#f0f1f2;" class="whole-page">

    <div style="align-items: center" class="form-container">

        <a href="{% url 'home' %}"><img alt="" style="width: 52px;" src="{% static  'images/mini-logo.png'%}"></a>

        <form style="width: 234px" class="form-column" method="POST">

            {% csrf_token %}

            <label for="mail">Email</label>
            <input class="input-text-login-register" required="required" id="mail" name="mail" type="email">

            <div>
                {% if messages %}
                <div style="margin-top: -10px;font-size: 12px;color: #c83232">The email or password is incorrect.</div>
                {% endif %}
            </div>

            <label for="password">Password</label>
            <input class="input-text-login-register" required="required" id="password" name="password" type="password">

            <button style="justify-content: center;padding: 20px" class="button" type="submit">Log in</button>

        </form>

        <div style="display: flex;gap: 5px;flex-grow: 1;">
            <div>Don’t have an account ?</div>
            <a href="{% url 'register' %}">Sign up</a>
        </div>

    </div>

</div>


