{% include 'head.html' %}

{% load static %}

<div class="whole-page">

    <div style="flex-grow: 2;max-width: 170px;min-width: 170px">{% include 'navbar.html' %}</div>
    <hr class="vertical">

    <div style="flex-grow: 5;max-width: 751px;"> <!--middle page-->

        <div>{% include 'base/middle_page.html' %}</div>

        <div>{% include 'base/discuss.html' %}</div>

    </div>

    <div style="flex-grow: 3;max-width: 389px;display: flex;justify-content: center;align-items: center">

    </div>

</div>

<script src="{% static 'js/index.js' %}"></script>