{% load static %}

<div class="flex-right-container">

    <div style="border: 1px solid hsl(43,85%,72%);" class="box">

        <h5 style="font-size:12px;background: hsl(43,85%,88%);margin: 0;padding: 12px 15px ">The Overflow Blog</h5>
        <hr style="background:hsl(43,85%,72%)" class="horizontal">

        <div style="padding: 15px;display: flex;flex-flow: column;gap: 12px;background: hsla(43,85%,72%,0.16);">

            <div style="display: flex;gap: 5px">
                <img style="width: 15px;height: 15px" alt="pen" src="{% static './images/pencil.png' %}">
                <div>Self-healing code is the future of software development</div>
            </div>

            <div style="display: flex;gap: 5px">
                <img style="width: 15px;height: 15px" alt="pen" src="{% static './images/pencil.png' %}">

                <div>The hardest part of building software is not coding, it's requirements</div>
            </div>
        </div>

        <hr style="background:hsl(43,85%,72%)" class="horizontal">
        <h5 style="font-size:12px;background: hsl(43,85%,88%);margin: 0;padding:12px 15px ">Featured on Meta</h5>
        <hr style="background:hsl(43,85%,72%)" class="horizontal">

        <div style="padding: 15px;display: flex;flex-flow: column;gap: 12px;background: hsla(43,85%,72%,0.16);">

            <div style="display: flex;gap: 5px">
                <img style="width: 15px;height: 15px" alt="pen" src="{% static './images/chat-bubble.png' %}">
                <div>Update to our Advertising Guidelines</div>
            </div>

            <div style="display: flex;gap: 5px">
                <img style="width: 15px;height: 15px" alt="pen" src="{% static './images/mini-logo2.png' %}">
                <div>Temporary policy: Generative AI (e.g., ChatGPT) is banned</div>
            </div>
        </div>
    </div>

    <div class="box">
        <h3 style="background: rgba(99,107,116,0.06);margin: 0;padding: 15px ">Custom filters</h3>
        <hr class="horizontal">
        <a href="{% url 'questions' %}" style="margin: 15px">Create a custom filter</a>
    </div>

    <div class="box">
        <div id="7"
             style="background: rgba(99,107,116,0.06);margin: 0;padding: 15px;display: flex;justify-content: space-between">
            <h3 style="margin: 0" id="1">Watched Tags</h3>
            {% if user.myuser.watchedTags.count != 0 %}
            <div id="open" style="color: #636b74;cursor: pointer">edit</div>
            {% endif %}
        </div>
        <hr id="2" class="horizontal">

        {% if user.myuser.watchedTags.count == 0 %}

        <div id="before-click" style="display: flex;flex-flow: column;align-items: center;gap: 15px;margin-top: 10px">
            <img style="width: 68px" alt="" src="{% static 'images/search.png' %}">
            <div style="color: #636b74;max-width: 190px;text-align: center">Watch tags to curate your list of
                questions.
            </div>
            <button id="watch-tag" style="margin-bottom: 15px;padding: 8px;display: flex;gap: 4px;cursor:pointer;"
                    class="filter">
                <img style="width: 18px" alt="img" src="{% static 'images/eye.png' %}">
                Watch a tag
            </button>
        </div>

        {% else %}

        <!--repeated structure -->
        <div id="8" style="display: flex;gap: 5px;margin:10px;flex-wrap: wrap">
            {% for tag in user.myuser.watchedTags.all %}

            <div class="tag-for-watched-tags">
                <a> {{ tag|lower }}</a>
                <div id="tag-{{ tag.id }}" style="display: none" class="delete-x">x
                </div>
            </div>

            {% endfor %}

        </div>

        {% endif %}

        <div style="display: none;justify-content: center;align-items: center" id="after-click">
            <form id="3" method="POST">
                {% csrf_token %}

                <div id="4" style="display: flex;margin: 15px">
                    <input required="required" id="5" class="special-input" style="width: 222px" name="added-tag"
                           type="text">
                    <button id="6" class="special-button">Add</button>
                </div>

                {% if messages %}
                {% for message in messages %}
                <div id="9" style="color: #c83232;text-align: center;margin-bottom: 10px">{{message}}</div>
                {% endfor%}
                {% endif %}

            </form>
        </div>

    </div>

</div>

<script src="{% static 'js/addTag.js' %}"></script>